@import "variables";

$highlight-color: $color-primary;

@import "admin/_admin.scss";

.wp-core-ui .button-primary {
	background-color: $color-primary;
	color: $color-white;

	&:hover,
	&:focus,
	&:active {
		background-color: $color-secondary;
		color: $color-white;
	}
}

// ACF Flexible Layouts

	body .acf-fc-popup ul li {
	    width: calc(100% / 4);
	}

	body .acf-fc-popup ul li a {
	    box-shadow: none;
	}

	body .acf-fc-popup ul li a .acf-fc-popup-label {
	    background-color: $color-primary;
	    text-shadow: none;
	    border: none;
	    box-shadow: none;
	}

	body .acf-fc-popup ul li a .acf-fc-popup-image {
	    padding-bottom: 56%;
	}