/*------------------------------------*\
    $NAV
\*------------------------------------*/

.nav {
    display: flex;
}

.nav li {
    position: relative;
}

.nav a {
    display: block;
}

ul.nav--stacked {
    display: block;
}


/*------------------------------------*\
    $HELPER
\*------------------------------------*/

.text--center {
    text-align: center;
}

.text--right {
    text-align: right;
}

.is-relative {
    position: relative;
}

.is-hidden {
    display: none;
}

.va {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.inline-block {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.cf {
    *zoom: 1;
}

.cf:before,
.cf:after {
    content: '';
    display: table;
}

.cf:after {
    clear: both;
}


/*------------------------------------*\
    $FLEXBOX
\*------------------------------------*/

.flex {
    display: flex;
}

.flex--center {
    justify-content: center;
}

.flex--justify {
    justify-content: space-between;
}


/*------------------------------------*\
    $GRID
\*------------------------------------*/

.grid {
    @include clearfix;
    margin-left: -24px;
}

.grid__item {
    float: left;
    padding-left: 24px;
    width: 100%;
}

.grid__item--half {
    width: 50%;
}

.grid__item--third {
    width: 33.333%;
}

.grid__item--fourth {
    width: 25%;
}

.grid__item--fifth {
    width: 20%;
}

.grid__item--sixth {
    width: 16.667%;
}

.grid--tight {
    margin-left: 0;
    .grid__item {
        padding-left: 0;
    }
}

@include phone {
    .grid__item {
        width: 100%;
    }
}


/*------------------------------------*\
    $SPINNER
\*------------------------------------*/

.has-spinner {
    position: relative;
}


/*------------------------------------*\
    $PHONE LINKS
\*------------------------------------*/

a[href^="tel"] {
    white-space: nowrap;
}
