// Accordion
	.accordion__item {
		margin-bottom: $space-m;
	}
	.accordion__item__heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		cursor: pointer;
		padding: $space-s;
		color: $color-white;
		background-color: $color-primary;
		margin-bottom: 0;
	}
	.accordion__item__content {
		padding: $space-s;
		border: solid $color-primary;
		border-width: 0 1px 1px 1px;
	}