// Nav Primary
	.nav--primary {
		font-size: 16px;
		line-height: 1em;
		text-transform: uppercase;
		> li + li {
			margin-left: 1em;
		}
		a {
			position: relative;
			color: $color-default;
		}
		li:hover > a {
			color: $color-secondary;
		}
		// Current Item
			> .current-menu-item>a,
			> .current-menu-ancestor>a {
				color: $color-primary;
			}
		/* DROPDOWN */
			.sub-menu {
				display: none;
				position: absolute;
				left: 18px;
				top: 100%;
				background-color: $color-primary;
				width: 225px;
				padding: 8px 18px;
				z-index: 9999;
				li {
					float: none;
				}
				a {
					font-size: 17px;
					line-height: 20px;
					padding: 10px 0;
					font-weight: 400;
					color: #fff;
				}
				li:hover .sub-menu {
					visibility: visible;
					opacity: 1;
				}
			}
	}
// Hamburger
	.hamburger {
		position: absolute;
		z-index: 800;
		top: 50%;
		right: 5%;
		transform: translateY(-50%);
		width: 48px;
		height: 40px;
		cursor: pointer;
		&__line {
			position: absolute;
			left: 0;
			right: 0;
			background-color: $color-primary;
			height: 6px;
			transition: $transition;
		}
		&__line--top {
			top: 3px;
		}
		&__line--middle {
			top: 50%;
			left: 50%;
			margin-top: -3px;
			width: 100%;
			transform: translateX(-50%);
		}
		&__line--bottom {
			bottom: 3px;
		}
	}
	.hamburger.is-active {
		.hamburger__line--top {
			top: 50%;
			margin-top: -3px;
			transform: rotate(45deg);
		}
		.hamburger__line--middle {
			width: 0;
		}
		.hamburger__line--bottom {
			bottom: 50%;
			margin-bottom: -3px;
			transform: rotate(-45deg);
		}
	}

	@include min-width(1200px) {
		.hamburger {
			display: none;
		}
	}
// Offscreen
	.offscreen {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		max-width: 100%;
		z-index: 880;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		transition: $transition-slow;
		width: 100%;
		visibility: hidden;
		transform: translateX(100%);
		background-color: $color-primary;
		color: $color-white;
		&--active {
			transform: translateX(0);
			visibility: visible;
		}
		&__body {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			padding: 0 60px;
		}
		&__content {
			padding: 40px 0;
		}
	}

// Pagination

.nav--pagination {
	display: flex;
	justify-content: center;

	li + li {
		margin-left: 1em;
	}
}