// Default
$space-s: 40px;
$space-m: 64px;
$space-l: 120px;

// Laptop
$space-s-laptop: 32px;
$space-m-laptop: 26px;
$space-l-laptop: 96px;

// Mobile
$space-s-mobile: 20px;
$space-m-mobile: 32px;
$space-l-mobile: 60px;

// Spacer item 

.spacer--s {
	height: $space-s;
}

.spacer--m {
	height: $space-m;
}

.spacer--l {
	height: $space-l;
}

@include laptop {
	
	.spacer--s {
		height: $space-s-laptop;
	}

	.spacer--m {
		height: $space-m-laptop;
	}

	.spacer--l {
		height: $space-l-laptop;
	}

}

@include phone {
	
	.spacer--s {
		height: $space-s-mobile;
	}

	.spacer--m {
		height: $space-m-mobile;
	}

	.spacer--l {
		height: $space-l-mobile;
	}

}